.home-screen-body-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100%;
    height: 100vh;
}

.home-screen-body-container .navbar-section {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.home-screen-body-container .section-top {
    position: relative;
    display: flex;
    width: inherit;
    height: 49vh;
    background: linear-gradient(0deg, #000 -3.52%, rgba(0, 0, 0, 0.00) 44.4%), lightgray;
    background-position: 0px -12.737px;
    background-size: 100% 134.844%;
    background-repeat: no-repeat;
}

.home-screen-body-container .section-top .inner-container {
    padding: 20px;
    background: linear-gradient(0deg, #000000 -3.52%, rgba(0, 0, 0, 0.00) 44.4%), rgba(0, 0, 0, 0.236);
    height: 90%;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.home-screen-body-container .section-top .inner-container div {
    display: flex;
    width: inherit;
}

.home-screen-body-container .section-top .inner-container .space {
    height: 45%;
}

.home-screen-body-container .section-top .inner-container .content-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    height: 50%;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.home-screen-body-container .section-top .inner-container .content-description .movie-name {
    color: #FFF;

    /* 48px semibold */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 100% */
}

.home-screen-body-container .section-top .inner-container .content-description .movie-classification {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.home-screen-body-container .section-top .inner-container .content-description .button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 15px;
}


.home-screen-body-container .section-top .inner-container .content-description .button-section .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
    border-radius: 14px;
    width: auto;
    height: 54px;
    background: #2F001F;
    color: #ECF9E9;

    /* 16px medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */

    cursor: pointer;
}

.home-screen-body-container .section-middle-bottom {
    padding: 20px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: flex-start;
    width: 100%;
    height: 50vh;
}

.home-screen-body-container .section-middle-bottom .wrapper-trending {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.home-screen-body-container .section-middle-bottom .wrapper-trending .trending {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.home-screen-body-container .section-middle-bottom .wrapper-trending .trending .items {
    width: calc(94% / 4);
    display: flex;
    flex-direction: row;
}


.home-screen-body-container .section-middle-bottom .wrapper-continue-watching {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.home-screen-body-container .section-middle-bottom .wrapper-continue-watching .continue-watching {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.home-screen-body-container .section-middle-bottom .wrapper-continue-watching .continue-watching .items {
    width: calc(94% / 3);
    display: flex;
    flex-direction: row;
}