.home-screen-body-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 100%;
    height: 100vh;
}

.home-screen-body-container .navbar-section {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.home-screen-body-container .section-top {
    position: relative;
    display: flex;
    width: inherit;
    height: 49vh;
    /* max-height: 490px; */
    background: linear-gradient(0deg, #000 -3.52%, rgba(0, 0, 0, 0.00) 44.4%), lightgray;
    background-position: 0px -12.737px;
    background-size: 100% 134.844%;
    background-repeat: no-repeat;
}

.home-screen-body-container .section-top .inner-container {
    padding: 20px;
    background: linear-gradient(0deg, #000000 -3.52%, rgba(0, 0, 0, 0) 44.4%), rgba(0, 0, 0, 0.236);
    height: 90%;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.home-screen-body-container .section-top .inner-container div {
    display: flex;
    width: inherit;
}

.home-screen-body-container .section-top .inner-container .space {
    height: 45%;
}

.home-screen-body-container .section-middle-buttom {
    padding: 20px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50vh;
}

.home-screen-body-container .section-top .inner-container .content-description {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.home-screen-body-container .section-top .inner-container .content-description .movie-name {
    color: #FFF;
    /* 48px semibold */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 100% */
}

.home-screen-body-container .section-top .inner-container .content-description .movie-classification {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.home-screen-body-container .section-top .inner-container .content-description .button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 15px;
}

.home-screen-body-container .section-top .inner-container .content-description .button-section .icon {
    border-radius: 14px;
    height: 54px;
    width: 54px;
    border: 1px solid rgba(60, 2, 81, 0.62);
    background: linear-gradient(99deg, #FFF 3.36%, rgba(255, 255, 255, 0.00) 238.16%);
    cursor: pointer;
}

.home-screen-body-container .section-top .inner-container .content-description .button-section .icon img {
    margin: auto;
    height: 24px;
    width: 24px;
}

.home-screen-body-container .section-top .inner-container .content-description .button-section .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
    border-radius: 14px;
    width: auto;
    height: 54px;
    background: #2F001F;
    color: #ECF9E9;
    /* 16px medium */
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    cursor: pointer
}

.home-screen-body-container .section-middle-buttom .wrapper-trending {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.home-screen-body-container .section-middle-buttom .wrapper-trending .trending {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.home-screen-body-container .section-middle-buttom .wrapper-trending .trending .items {
    width: calc(100% /4);
    display: flex;
    flex-direction: row;
}

.home-screen-body-container .section-middle-buttom .wrapper-continue-watching {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.home-screen-body-container .section-middle-buttom .wrapper-continue-watching .continue-watching {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.home-screen-body-container .section-middle-buttom .wrapper-continue-watching .continue-watching .items {
    width: calc(100% /3);
    display: flex;
    flex-direction: row;

}